<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href="/css/dots.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="elm-app-is-loaded-here"></div>
    
    <script src="<%= root %>/<%= filename %>"></script>
    <script>
      let token = window.localStorage.getItem('__token__');
      let indianPricing = "<%= priceIds.indiaAnnual %>";

      let globalPricing = "<%= priceIds.globalAnnual %>";

      var app = Elm.Main.init({
        node: document.getElementById("elm-app-is-loaded-here"),
        flags: token
      });      

      function textAreaResize(ta) {
        ta.style.height = "auto";
        ta.style.height = ta.scrollHeight+"px";
      }

      function resetTextAreaSize(ta) {
        ta.style.height = "1px";
        ta.style.height = "5rem";
      }

      let postMenuId = "";
      let settingsIconId = "";


      app.ports.deleteToken.subscribe(function(){
         window.localStorage.removeItem('__token__');
      });

      app.ports.resizeTextArea.subscribe(function(textAreaId) {
        var ta = document.getElementById(textAreaId);
        textAreaResize(ta);
      });

      app.ports.resetTextArea.subscribe(function(textAreaId) {
        var ta = document.getElementById(textAreaId);
        resetTextAreaSize(ta);
      });

      app.ports.setToggledPostIds.subscribe(function(postId) {
        settingsIconId = `settingsIcon${postId}`;
        postMenuId = `postMenu${postId}`;
      });

      app.ports.setToggledDraftIds.subscribe(function(postId) {
        settingsIconId = `settingsIcon${postId}`;
        postMenuId = `postMenu${postId}`;
      });

      app.ports.setToggledPlugIds.subscribe(function(postId) {
        settingsIconId = `settingsIcon${postId}`;
        postMenuId = `postMenu${postId}`;
      });


      app.ports.setToggledSocialIds.subscribe(function(postId) {
        settingsIconId = `settingsIcon${postId}`;
        postMenuId = `postMenu${postId}`;
      });

      app.ports.makePayment.subscribe(function(country) {
        document.body.innerHTML += ` 
          <form id="payment" action="/api/create-checkout-session" method="POST">
            <!-- Note: If using PHP set the action to /create-checkout-session.php -->

            <input type="hidden" name="priceId" value=${ country===1 ? indianPricing : globalPricing }>
            <input id="token" type="hidden" name="token" value="${token}">
          </form>
        `
        document.getElementById("payment").submit();
      });

      app.ports.switchPlan.subscribe(function(priceId) {
        document.body.innerHTML += ` 
          <form id="payment" action="/api/create-checkout-session" method="POST">
            <!-- Note: If using PHP set the action to /create-checkout-session.php -->

            <input type="hidden" name="priceId" value=${priceId}>
            <input id="token" type="hidden" name="token" value="${token}">
          </form>
        `
        document.getElementById("payment").submit();
      });

      document.addEventListener('click', function(event) {
          var menuElement = document.getElementById("menu");
          var avatarElement = document.getElementById("user-avatar");
          var isClickInsideMenu = (menuElement.contains(event.target) && event.target != menuElement); 
          var isClickInsideAvatar = avatarElement.contains(event.target);

          if (isClickInsideMenu === false) {
              if(isClickInsideAvatar === false) {
                app.ports.turnOffMenu.send(null);
              }
          }

      });

      document.addEventListener('click', function(event) {
          var postElement = document.getElementById(postMenuId);
          var iconElement = document.getElementById(settingsIconId);

          if(postElement && iconElement) {
            var isClickInsideMenu = (postElement.contains(event.target) && event.target != postElement); 
            var isClickInsideIcon = iconElement.contains(event.target);

            if (isClickInsideMenu === false) {
                if(isClickInsideIcon === false) {
                  app.ports.turnOffPostMenu.send(null);
                  app.ports.turnOffDraftMenu.send(null);
                  app.ports.turnOffPlugMenu.send(null);
                  app.ports.turnOffSocialMenu.send(null);
                  postMenuId = "";
                  iconElement = "";
                }
            }
          }

      });

      document.addEventListener('click', function(event) {
          var postElement = document.getElementById("selectPlugOptions");
          var iconElement = document.getElementById("selectPlug");

          if(postElement && iconElement) {
            var isClickInsideMenu = (postElement.contains(event.target) && event.target != postElement); 
            var isClickInsideIcon = iconElement.contains(event.target);

            if (isClickInsideMenu === false) {
                if(isClickInsideIcon === false) {
                  app.ports.turnOffCPSelectPlug.send(null);
                  app.ports.turnOffEPSelectPlug.send(null);
                  app.ports.turnOffEDSelectPlug.send(null);
                }
            }
          }

      });

      document.addEventListener('click', function(event) {
          var postElement = document.getElementById("selectSocialOptions");
          var iconElement = document.getElementById("selectSocial");

          if(postElement && iconElement) {
            var isClickInsideMenu = (postElement.contains(event.target) && event.target != postElement); 
            var isClickInsideIcon = iconElement.contains(event.target);

            if (isClickInsideMenu === false) {
                if(isClickInsideIcon === false) {
                  app.ports.turnOffCPSelectSocial.send(null);
                  app.ports.turnOffEPSelectSocial.send(null);
                  app.ports.turnOffEDSelectSocial.send(null);
                }
            }
          }

      });
    </script>
  </body>
</html>
