<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/landing.css"/>
        <title>Sociomata - Your social media autopilot</title>
    </head>
    <body>
        <div class="grid">
            <section class="content">
                <nav>
                    <img class="logo" src="/images/logo_name.svg"/>
                    <img class="logo-icon" src="/images/logo_name_icon.svg"/>
                </nav>
                <div class="copy">
                    <ul>
                        <li>Autopilot for your</li>
                        <li>social media</li>
                    </ul>
                    <div class="mobile-header">
                        Autopilot for your social media
                    </div>
                    <div class="subcontent">Sociomata lets you post and schedule your tweets and threads.</div>
                    <div class="subcontent">Give up on the hassle of daily posting by scheduling your content in advance.</div>
                    <div class="cta">
                            <a href="/signup">Get started</a>
                    </div>
            </section>
            <section class="art">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span>
                    <img class="logoblack" src="/images/logo_black_nocircle.png"/>
                </span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </section>
        </div>
    </body>
</html>
