<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sociomata lets you post and schedule your tweets and threads. Give up on the hassle of daily posting by scheduling your content in advance"/>
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/landing.css"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-J60C91W2NQ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-J60C91W2NQ');
        </script>
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="da24520d-ade8-482c-9aac-ce02d8d6688d";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@sociomata">
        <meta name="twitter:creator" content="@sociomata">
        <meta name="twitter:title" content="Sociomata - The best way to schedule Twitter threads">
        <meta name="twitter:description" content="Schedule your Twitter Threads. Create content pipeline using Drafts. Plug reusable conten">
        <meta name="twitter:image" content="https://sociomata-og.s3.us-east-2.amazonaws.com/images/homepage.png">

        <!-- Open Graph -->
        <meta property="og:title" content="Sociomata - The best way to schedule Twitter threads" />
        <meta property="og:description" content="Schedule your Twitter Threads. Create content pipeline using Drafts. Plug reusable content" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://sociomata-og.s3.us-east-2.amazonaws.com/images/homepage.png" />
        <meta property="og:url" content="https://sociomata.com" />
        <title>Schedule your Twitter Threads - Sociomata</title>
    </head>
    <body>
        <div id="mobile-navigation" class="navigation">
            <a href="/how-it-works"><span class="item">How it works?</span></a>
            <a href="/pricing"><span class="item">Pricing</span></a>
            <a href="/about"><span class="item">About</span></a>
            <a href="/login"><button class="login">Sign in</button></a>
            <a href="/signup"><button class="try">Try for free</button></a>
        </div>
        <img id="close-nav" class="close" src="/images/closeHover.png" onclick="closeNavigation()"/>
        <header>
            <a href="/">
                <img alt="Sociomata logo" class="logo" src="/images/logo_full.png"/>
            </a>
            <nav>
                <a href="/how-it-works"><span class="item">How it works?</span></a>
                <a href="/pricing"><span class="item">Pricing</span></a>
                <a href="/about"><span class="item">About</span></a>
                <a href="/login"><button class="login">Sign in</button></a>
                <a href="/signup"><button class="try">Try for free</button></a>
            </nav>
            <img alt="navigation button" class="navigation" src="/images/nav.png" onclick="openNavigation()" />
        </header>
        <main>
            <section class="white headline">
                <div class="header">
                    Autopilot for your 
                    <br/>
                    <span class="italic">Social Media</span>
                </div>
                <div class="subheader">
                    <span class="highlight italic">Sociomata</span> lets you post and schedule your tweets and threads. Give up on the hassle of daily posting by scheduling your content in advance.
                </div>
                <a href="/signup">
                    <button class="cta yellow">Let's get started</button>
                </a>
                <div class="free-trial">
                    7 day free trial. No credit card required
                </div>
            </section>
            <section class="yellow app-preview">
                <div class="landing-queue">
                    <img class="landing-queue" src="/images/landing/queue.png" alt="Preview of Sociomata - The Twitter Thread Scheduler App"/>
                </div>
            </section>
            <section class="white landing-middle">
                <div class="landing-features">
                    <span class="italic">Schedule</span> Twitter Threads
                </div>
                <hr>
                <div class="landing-features">
                    Prepare content Pipeline with <span class="italic">Drafts</span>
                </div>
                <hr>
                <div class="landing-features">
                    <span class="italic">Plug</span> reusable content
                </div>
            </section>
            <section class="yellow end-cta">
                <div class="cta-header">
                    Ready to take your Twitter
                    <br/>
                    game to the top?
                </div>
                <a href="/signup">
                    <button class="cta dark">Yes! Let's go</button>
                </a>
                <div class="free-trial">
                    7 day free trial. No credit card required
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-columns">
                <div class="footer-company">
                    <div class="footer-logo">
                        <img alt="Sociomata logo" class="footer-logo" src="/images/logo_name.svg"/>
                    </div>
                    <div class="footer-description">
                        Autopilot for your  social media
                    </div>
                </div>
                <div class="footer-features">
                    <a href="/how-it-works"><span class="footer-feature">Features</span></a>
                    <a href="/pricing"><span class="footer-feature">Pricing</span></a>
                    <a href="/about"><span class="footer-feature">About</span></a>
                    <a href="https://trello.com/b/mMv5iWQY/sociomata-product-roadmap"><span class="footer-feature">Product Roadmap</span></a>
                    <a href="https://sociomata.freshdesk.com/support/home"><span class="footer-feature">Support</span></a>
                    <a href="/privacy"><span class="footer-feature">Privacy Policy</span></a>
                </div>
                <div class="footer-social">
                    <a href="https://twitter.com/sociomata" target="_blank">
                        <img alt="Sociomata's Twitter account link" class="social-logo"  src="/images/twitter.png"/>
                    </a>
                    <a href="https://www.facebook.com/getsociomata" target="_blank">
                        <img alt="Sociomata's Facebook account link" class="social-logo"  src="/images/fb.png"/>
                    </a>
                    <a href="https://instagram.com/sociomata" target="_blank">
                        <img alt="Sociomata's Instagram account link" class="social-logo"  src="/images/ig.png"/>
                    </a>
                </div>
            </div>
            <div class="footer-copyright">
                All rights reserved.
            </div>
        </footer>
        <script type="text/javascript">
            function openNavigation() {
                document.getElementById("mobile-navigation").style.display = "flex";
                document.getElementById("close-nav").style.display = "block";
            }

            function closeNavigation() {
                document.getElementById("mobile-navigation").style.display = "none";
                document.getElementById("close-nav").style.display = "none";
            }
        </script>
    </body>
</html>
