<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/dots.css"/>
        <link rel="stylesheet" href="/css/login-style.css"/>
        <title>Colloborate with your Team on Sociomatam</title>
    </head>
    <body>
        <div class="message" id="message">
        </div>
        <div class='grid'>
            <div id="content" class='login-wrapper'>
                <span class='logo-wrapper'>
                    <img class='logo' src='/images/logo-small.png'/>
                </span>
                <h2>Join Sociomata</h2>
                <form id="signupForm">
                    <input placeholder="Email" name="email" type="email"/>
                    <input placeholder="Password" name="password" type="password"/>
                    <button type="submit">Create Account</button>
                </form>
                <span class="links">
                    <a href="/login">Have an account? Login</a>
                </span>
            </div>
            <script src="/js/joinTeam.js"></script>
        </div>
    </body>
</html>
