@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

html {
    font-size: max(15px, calc((100vw/1366)*16));
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

body, main {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    padding: 2rem;
    grid-template-columns: auto 1fr auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0f0f0f;
    padding: 2rem 5rem 2rem 5rem;
}

div.footer-columns {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    grid-gap: 2rem;
    grid-column: 3/4;
}

nav  *, div.navigation  * {
    cursor: pointer;
}

nav button:hover, div.navigation button:hover {
    font-weight: 700;
    padding-left: 0.98rem;
    padding-right: 0.98rem;
}

img.logo {
    height: 2.5rem;
}

span.item {
    font-size: 1.25rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #0f0f0f;
}

span.item:hover {
    box-shadow: 0 0.25rem 0 0 #ffff8b, 0 0.4rem 0 0 #0f0f0f;

}

button.login {
    font-size: 1.25rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border: 0.15rem solid;
    border-color: #0f0f0f;
    color: #0f0f0f;
    padding-left: 1rem;
    padding-right: 1rem;
}


button.try {
    font-size: 1.25rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    border: 0.15rem solid;
    color: #ffff8b; 
    background-color: #0f0f0f;
    border-color: #0f0f0f;
    padding-left: 1rem;
    padding-right: 1rem;
}


section.white {
    background-color: white;
}

section.yellow {
    background-color: #ffff8b;
}

button.dark {
    background-color: #0f0f0f;
    color: #ffff8b;
}

button.yellow {
    background-color: #ffff8b;
    color: #0f0f0f;
}

section.headline {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

section.about {
    gap: 3rem;
}

section.app-preview {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
}

section.landing-middle {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

div.header {
    font-weight: 700;
    font-size: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #0f0f0f;
}

div.landing-features {
    font-family: 'Work Sans', sans-serif;
    color: #0f0f0f;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

hr {
    background-color: #767474;
    width: calc(100vw - 60rem);
}

div.subheader {
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 17rem;
    margin-right: 17rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #767474;
}

div.cta-header {
    font-weight: 700;
    font-size: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: #0f0f0f;
}

span.italic {
    font-style: italic;
}

span.highlight {
    color: #0f0f0f;
}


section.headline > a, section.end-cta > a {
    margin-left: 25rem;
    margin-right: 25rem;
}

div.plan > a {
    width: 100%;
}

button.cta {
    font-size: 1.75rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 0.2rem solid;
    border-color: #0f0f0f;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

section.white button:hover, div.plan button:hover {
    background-color: #0f0f0f;
    color: #ffff8b;
}


div.free-trial {
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    color: #767474;
}


div.landing-queue {
    position: relative;
    z-index: 2;
    top: 2rem;
}

div.landing-queue > img {
    border: 0.2rem solid;
    border-color: #0f0f0f;
    width: calc(100vw - 20rem);
}

section.end-cta {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0;
}

div.footer-logo {
    display: flex;
    flex-direction: row;
}

div.footer-logo > img {
    height: 2rem;
}

div.footer-company {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
}

div.footer-description {
    font-family: 'Work Sans', sans-serif;
    color: #767474;
    font-weight: 500;
    font-size: 1.25rem;
}

div.footer-copyright {
    font-family: 'Work Sans', sans-serif;
    color: #767474;
    font-weight: 500;
    font-size: 0.8rem;
}

div.footer-features {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

div.footer-social {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
}

img.social-logo {
    width: 2rem;
    height: 2rem;
}

span.footer-feature {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
}

div.navigation {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.99);
    width: 100vw;
    height: 100vh;
}

img.close {
    display: none;
    position: fixed;
    z-index: 5;
    top:2rem;
    right: 2rem;
    width: 2rem;
}

img.navigation {
    display: none;
    width: 2.5rem;
    grid-column: 3/4;
}

section.feature {
    padding: 5rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 1fr 1fr;
}

div.feature-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #767474;
    font-size: 1.5rem;
    text-align: left;
}

span.feature-header {
    font-weight: 700;
    font-size: 2.5rem;
    color: #0f0f0f;
}

div.feature-image > img {
    width: 100%;
    border: 0.2rem solid;
    border-color: #0f0f0f;
}

section.pricing {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 10rem 5rem 10rem;
}

div.plan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    border: 0.2rem solid;
    padding: 2.5rem;
    border-color: #0f0f0f;
    background-color: white;
}

span.plan-name {
    font-weight: 700;
    font-size: 2rem;
}

span.plan-price {
    font-weight: 600;
    font-size: 1.75rem;
}

button.cta.disabled, button.cta.disabled:hover {
    border-color: #767674;
    background-color: #767674;
    color: white;
    cursor: default;
}


ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    list-style-image: url('/images/check.png');
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    img.navigation {
        display: block;
    }

    div.landing-features {
        font-size: 1.4rem;
    }

    hr {
        width: calc(100vw - 10rem);
    }
    
    div.header {
        font-size: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div.cta-header {
        font-size: 1.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    div.subheader {
        font-size: 1.25rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    div.free-trial {
        font-size: 1rem;
        margin-top: -0.5rem;
    }

    section.end-cta > button.cta {
        margin-top: 0;
    }

    section.headline> a, section.end-cta > a {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    button.cta {
        font-size: 1.75rem;
    }

    div.landing-queue {
        top: 1rem;
    }

    div.landing-queue > img {
        width: calc(100vw - 6rem);
    }

    footer {
        gap: 5rem;
        padding: 5rem 5rem 2rem 5rem;
    }

    div.footer-columns {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 5rem;
    }

    div.footer-copyright {
        text-align: center;
        font-size: 1rem;
    }

    div.navigation > * {
        font-size: 2rem;
    }

    section.feature {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    span.feature-header {
        text-align: center;
    }

    section.feature.white > div.feature-image {
        grid-row: 2/3;
    }

    section.pricing {
        grid-template-columns: 1fr;
        padding: 2rem;
    }

}
